table {
    width: 100%
}

.flexerino {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.textColor {
    color: wheat
}

td {
    padding: 1em 6pt;
    vertical-align: middle
}

tr:nth-child(2n) {
    background-color: #3b3b3b;
    border-color: #f9f9f9
}

thead td {
    background-color: #3b3b3b;
    color: #cad1d4;
    text-align: center;
    line-height: 13pt;
    font-size: 10pt;
    text-transform: uppercase;
    border-right: 1pt solid #e5e9ec
}

thead td:last-child {
    border-right: 1pt solid #fff
}

tbody td {
    font-size: 9pt
}

.ceil-string {
    text-align: center;
}

.ceil-number {
    text-align: right;
}

.ecoNews {
    text-align: center;
    max-width: 350px;
    border: 3px solid rgb(110, 110, 110);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
    padding: 40px;
}

.ecoNewsName {
    border-radius: 24px;
    padding: 20px;
    background-color: rgb(14, 14, 87);
    color: #beccd1;
    font-size: 16px;
}

.ecoNewDirectionUp {
    max-width: 100px;
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgb(27, 136, 17);
    color: #beccd1;
}

.ecoNewDirectionDown {
    max-width: 100px;
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgb(201, 29, 29);
    color: #beccd1;
}

.murDroite {
    padding-right: 20px;
    margin-left: 20px;
    border-right: #fff 2px solid;
}

.murGauche {
    padding-left: 20px;
    margin-right: 20px;
    border-left: #fff 2px solid;
}