body {
    padding-left: 100;
    padding-right: 100;
    background-color: rgb(5, 0, 73);
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.title {
    text-align: center;
}